---
title: Recommended readings
layout: splash
permalink: /recommendations
header:
    overlay_filter: rgba(15, 80, 180, 0.5)
    overlay_image: /images/splash/books-header-tom-hermans.jpg
    caption: "Photo: [**Tom Hermans**](https://unsplash.com/@tomhermans)"

excerpt: "Book- und link-recommendations"

rec-one:
    - title: "Software Architecture Foundation - 2nd edition"
      url: "https://www.vanharen.store/standards/enterprise-architecture/software-architecture-foundation-2nd-edition#"
      image_path: "/images/books/SWAF-2nd-cover.webp"
      alt: "Software Architecture Foundation - 2nd edition - Bookcover"
      btn_label: "Read here"
      btn_class: btn--info
      excerpt: "
<b>Alexander Lorz, Gernot Starke</b><br>
This book covers everything you need to master the iSAQB© Certified Professional for Software Architecture - Foundation Level (CPSA-F) certification.
This internationally renowned education and certification schema defines various learning paths for practical software architects.
"

rec-two:
    - title: "arc42 by Example"
      url: "https://leanpub.com/arc42byexample"
      image_path: "/images/books/arc42-by-example-3rd.webp"
      alt: "arc42 by Example - Bookcover"
      btn_label: "Read here"
      btn_class: btn--info
      excerpt: "
<b>Gernot Starke, Michael Simons, Stefan Zörner, Ralf D. Müller and Hendrik Lösch</b><br>
This book contains several real-world software architectures, documented with the practical arc42 template.
You will learn about the inner workings of a chess engine, a huge CRM system, a cool web system to track biking activities and an extremely small menu-bar application.
"

---

{% include feature_row_recs id="rec-one" type="left" %}

{% include feature_row_recs id="rec-two" type="right" %}