<!-- unobtrusive ads for arc42 trainings and services -->
<!-- included via git-submodule from github.com/arc42/subtle-ads -->

<div class="subtle-ad">
<h4>arc42 offers architecture training and coaching.</h4>
  Two expert trainers at all times, highly practical and pragmatic,
  ideal preparation for <a href="http://isaqb.org">iSAQB CPSA-Foundation</a> certification.
<br>
Next available dates (in German):
<ul>
  <li><a href="http://www.arc42.de/termine.html">June 19.-22. 2018, Frankfurt (fully booked)</a></li>
  <li><a href="http://www.arc42.de/termine.html">Sept 25.-28. 2018, Frankfurt</a></li>
  <li><a href="http://www.arc42.de/termine.html">Dec 4.-7. 2018, Munich</a></li>
</ul>

<h4>IMPROVE Advanced Architecture</h4>
<a href="http://isaqb.org">iSAQB CPSA-Advanced</a> Training, IMPROVE module: Learn
to effectively evolve and maintain systems.
<ul>
   <li><a href="http://www.arc42.de/termine.html">July 10.-12. 2018, Vienna (Gernot Starke with Peter Hruschka)</a></li>
   <li><a href="http://www.arc42.de/termine.html">October 9.-11. 2018, Stuttgart (Gernot Starke with Peter Hruschka)</a></li>
   <li><a href="http://www.arc42.de/termine.html">November 27.-29. 2018, Hamburg (Gernot Starke with Carola Lilienthal)</a></li>

</ul>
Early bird rates available. Contact us for inhouse training.
<br>
</div>
<br>
