<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>

<div hx-get="https://arc42-subtle-ads-backend.vercel.app/api"
     hx-trigger="load delay"
     hx-swap="innerHTML"
     hx-target="#subtle-ads">
</div>

<div id="subtle-ads" aria-live="polite">
    <h3>arc42 offers architecture training.</h3>
    <p>
        Loading the upcoming training dates&hellip;
        If they don't show up, you can find all dates at
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://trainings.arc42.org">
                trainings.arc42.org
            </a>.
    </p>
</div>
